.page {
  height: 100%;


}

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  max-width: 320px;
  text-transform: uppercase;
  color: $font-color1;

  @include tablet {
    max-width: 768px;
  }
}

.visually-hidden{
  visibility: hidden;
}
